.color-white
{
    color: white;
}
.error
{

    width: 200px;
    color: white;
    background: crimson;
    border: 2px solid red;
    border-radius: 12px;
    margin-top: 20px;
    text-align: center;
}
.successful
{
    width: 200px;
    color: white;
    background: lime;
    border: 2px solid red;
    border-radius: 12px;
    margin-top: 20px;
    text-align: center;
}
